.body {
    font-family:'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
  margin-bottom: 0;
  margin-top: 0;
    }

ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
   }

a {
    text-decoration: none;
    color: currentColor;
}

 button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;

 }

 address {
    font-style: normal;
 }

 img {
    display: block;
    max-width: 100%;
    height: auto;
 }

 address {
    font-style: normal;
  }

 .container {
  max-width: 1440px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;

  border: 2px dashed #2a2a2a;
 }

.header {
   align-items: center;
  justify-content: space-between;  
}
   
 .header-container {
    display: flex;
    justify-content: space-between;
  } 

.header-nav {
   color: #2e2f42;
   display: flex;
   align-items: center;
   flex-grow: 0;
   justify-content: space-between;
   margin-left: 156px;
   
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    align-items: start;
    justify-self: start;
}

.header-logo-part {
   color: #2e2f42;
}

.header-address-list {
  color: #2e2f42 ;
  display: flex;
  align-items: start;
  gap: 40px;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 76px; 
 }

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}
.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;  
 }

 .header-address-title{
  display: flex;
  gap: 40px;
  margin-right: 156px;
      padding-top: 24px;
      padding-bottom: 24px;
}

.header-address {
  font-style: normal;
    display: flex;
    gap: 40px;
}

.header-address-item {
  color: #2e2f42;
}

.header-address-link {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

.hero {
  
}

.hero-wrap{
  background: #2e2f42;
  display: flex;
  flex-direction:column;
  align-items: center;
  padding-top: 188px;
  padding-bottom: 292px;
  margin: 0 auto;
 
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px; 
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    display: flex;
      align-items: center;
      max-width: 496px;
      margin-bottom: 48px;
    }

.hero-button {
 margin-left: 164px; 
 margin-right: 163px;
}

.hero-button:hover,
.hero-button:focus {
    background: #404bbf;
}

.features {
  min-width: 1128px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 127px;
  
}

.features-list {
  display: flex;
  gap: 24px;
  padding-right: 156px;
  padding-left: 156px;  
}

.features-item {
  width: calc((100% - 3 * 24px) / 4);
  margin: 0 auto;
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  
}

.team {
  
}


.team-wrap {
background: #f4f4fd;


}
 
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
}

.team-list {
    background: #f4f4fd;
    display: flex;
    gap: 32px; 
    padding-bottom: 127px;
}

.team-item {
 background-color: #FFFFFF;
 width: calc((100% - 3 * 24px) / 4);
 padding: 32px 16px;
}

.team-img {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {
  min-width: 1128px;
  margin: 0 auto;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 72px;
    min-width: 218px;
}

.portfolio-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    padding-bottom: 120px;
    
}

.portfolio-item {}

.portfolio-img {}


.portfolio-card {
margin: 32px 16px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   padding-top: 8px;
}

.footer {
    
}
.footer-wrap {
background: #2e2f42;
padding: 100px 1020px 100px 156px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-part {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 16px;
    max-width: 264px;
}
