.body {
    font-family:'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
  margin-bottom: 0;
  margin-top: 0;
    }

ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
   }

a {
    text-decoration: none;
    color: currentColor;
}

 button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;

 }

 address {
    font-style: normal;
 }

 img {
    display: block;
    max-width: 100%;
    height: auto;
 }

 address {
    font-style: normal;
  }

 .container {
  max-width: 1440px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;

  border: 2px dashed #2a2a2a;
 }


.features,
.portfolio {
  max-width: 1128px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;
  
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
   
 .header-container {
    display: flex;
   
  } 

.header-nav {
   color: #2e2f42;
   display: flex;
   align-items: center;
   flex-grow: 1;
   justify-content: space-between;
   margin-left: 156px;

}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    align-items: start;
   justify-self: start;
  

}

.header-logo-part {
   color: #2e2f42;
}

.header-address-list {
  color: #2e2f42 ;
  display: flex;
  align-items: start;
  gap: 40px;
  flex-wrap: wrap;
 }

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}
.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
 }

.header-address {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.header-address-item {
  color: #2e2f42;
}

.header-address-link {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

.hero {
  
}

.hero-wrap{
  background: #2e2f42;
  padding: 188px 292px ;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px; 
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    max-width: 496px;
       
}

.hero-button {
 margin-left: 164px; 
 margin-right: 163px;
}

.hero-button:hover,
.hero-button:focus {
    background: #404bbf;
}

.features {
  padding-top: 120px;
  padding-bottom: 120px;
 
}

.features-list {
    display: flex;
    align-items: center;
}

.features-item {
  width: calc((100% - 3 * 24px ) / 4 );
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;

}

.team-list {
    background: #f4f4fd;
    display: flex;

}

.team-item {
    background-color: #FFFFFF;
}

.team-img {}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}

.portfolio-item {}

.portfolio-img {
   
}
.portfolio-card {
margin: 32px 16px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   padding-top: 8px;
}

.footer {
    background: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-part {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
